#container {
    height: 50px;
    width: 900px;
    background-color: bisque;
    border: solid skyblue;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}







.myid {
    height: 50px;
    width:80px;
    font-size: 24px;
    padding-left: 20px;
    
}